/*.snavbar {
  color: rgba(250, 250, 250, 0.9);
}*/

@font-face {
  font-family: 'fontawesome';
  src:url('fonts/fontawesome.eot');
  src:url('fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
    url('fonts/fontawesome.woff') format('woff'),
    url('fonts/fontawesome.ttf') format('truetype'),
    url('fonts/fontawesome.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'fontawesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icomoon-"] {
*/
.icomoon-facebook, .icomoon-twitter, .icomoon-github, .icomoon-map-marker, .icomoon-phone, .icomoon-envelope-alt {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icomoon-facebook:before {
  content: "\f09a";
}
.icomoon-twitter:before {
  content: "\f099";
}
.icomoon-github:before {
  content: "\f09b";
}
.icomoon-map-marker:before {
  content: "\f041";
}
.icomoon-phone:before {
  content: "\f095";
}
.icomoon-envelope-alt:before {
  content: "\f0e0";
}

body {
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Ubuntu', sans-serif;*/
  /*font-family: 'Varela Round', sans-serif;*/
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  background-color: #FAFAFA;
  font-size: 16px;
}

a, a:hover, a:visited {
  color: #177491;
  font-weight: 400;
}

.cursive {
 font-family: "bickham-script-pro", sans-serif;
 font-weight: 400;
 font-size: 70px;
 text-align: center;
 margin-top: 20px;
}

.cursive .cubes {
  font-size: 30px;
}

.trenches, .portfolio {
  background-color: #F3F3F3;
  padding: 20px 0;
}

body.home .trenches .date {
  width: 100px;
}

body.home .trenches .dot {
  padding-right: 10px;
}

body.home ul.thumbnails {
  margin-left: 0;
}

body.home ul.thumbnails a.thumbnail {
  margin: 5px;
}

body.blog .trenches {
  margin-bottom: 40px;
}

body.blog .trenches .span4 .cursive {
  text-align: right;
}

body.blog .trenches .span8 {
  margin-left: 0;
}

body.blog .trenches .span8 .cursive {
  text-align: left;
}

h1 {
  font-weight: 200;
}

body:not(.home) footer {
  margin-top: 20px;
}

footer {
  /*background-color: #4c4c4c;*/
  width: 100%;
  /*color: rgb(250, 250, 250);*/
  background: none repeat scroll 0 0 #2E3133;
  /*color: #777E83;*/
  color: white;
  font-weight: 300;
}

footer .cursive {
  font-family: "reklame-script", sans-serif;
  text-align: left;
  margin: 0;
  padding: 20px 0;
  font-size: 50px;
}

footer .pull-right .cursive {
  padding-top: 0px;
  margin-top: 35px;
  text-align: center;
}

footer a, footer a:hover, footer a:visited {
  color: white;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none;
}

.navbar-inner {
  background-color: rgb(250, 250, 250);
  background-image: none;
}

.snav {
  position: absolute;
  top: 16px;
  left: 50%;
}

.snav.nav-left {
  margin-left: -400px;
}
.snav.nav-right {
  margin-left: 100px;
}

.snav ul {
  /*margin: 0 auto;*/

}
.snav ul li {
  float: left;
  padding-left: 50px;
}
.snav ul li.current a {
  text-decoration: underline;
}

.snav ul li a, .snav ul li a:visited {
  color: black;
  font-weight: 200;
  font-size: 20px;
  line-height: 20px;
}

.snavbar-fixed-top .snavbar-inner, .snavbar-static-top .snavbar-inner {
  box-shadow: none;
}

.snavbar-inner {
  background-color: rgba(250, 250, 250, 0.9);
  background-image: none;
}

.logo {
  text-align: center;
}

img#logo {
  height: 40px;
  margin: 5px;
}

.bg {
  position: absolute;
  top:50px;
  left: 0;
  width: 100%;
  background-image: url("/img/san-francisco-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 390px;
}

#intro .span12.targetresize {
  position: relative;
}

#intro .container {
/*  position: relative;
  height: 100%;
*/}

#title {
  position: absolute;
  top: 30%;
  padding: 0;
  margin: 0;
}

#title p.subs {
  margin: 0;
  padding: 0;
  display: inline;
  font-family: "proxima-nova",sans-serif;
  font-weight: 200;
  font-style: normal;
  box-shadow: 6px 0 0 0 rgba(23, 116, 145, 0.6), -6px 0 0 0 rgba(23, 116, 145, 0.6);
  white-space: pre-line; /* Not understood by IE, use manual br for IE */
  color: white;
  background: rgba(23, 116, 145, 0.6);
  font-size: 50px;
  line-height: normal;
}


#subtitle {
  position: absolute;
  top: 60%;
  padding: 0;
  margin: 0;
}

#subtitle p.subs {
  margin: 0;
  padding: 0;
  display: inline;
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  font-style: normal;
  box-shadow: 6px 0 0 0 rgba(255, 154, 0, 0.6), -6px 0 0 0 rgba(255, 154, 0, 0.6);
  white-space: pre-line; /* Not understood by IE, use manual br for IE */
  color: white;
  background: rgba(255, 154, 0, 0.6);
  font-size: 28px;
  line-height: normal;
}

#title, #subtitle {
  /*margin-left: 20px;*/
  margin-right: 20px;
}

.address p {
  color: white;
  background-color: rgba(74, 74, 74, 0.8);
  padding: 10px 5px 10px 5px;
  font-weight: 300;
}

.address h1 {
  position: absolute;
  top: 80px;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 308px;
}

.blog .date {
  color: white;
  background-color: rgb(23, 116, 145);
  padding: 7px;
  font-size: 20px;
  text-align: center;
  width:60px;
  height:60px;
  float:right;
}

.blog .date .month {
  font-weight: bold;
  text-transform: uppercase;
}

article .span6 {
  border-left: 1px solid rgb(23, 116, 145);
  margin-left: 0;
  padding-left: 30px;
}

article .span6 p:last-child {
  margin-bottom: 0;
}

article .title {
  margin-top: 0;
  line-height: 26px;
}

article img {
  padding: 10px 0;
  margin: 0 auto;
}

.separator {
  padding: 10px 0 10px 0;
}

.blog .date {
  /*border-right: 1px solid rgb(23, 116, 145);  */
}

.latest_news {
  padding: 20px;
}

.latest_news h3 {
  font-size: 40px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  font-style: italic;
}

footer .contact {
  margin: 0;
}

footer .contact li {
  margin: 15px 20px 15px 0;
}

footer .contact li .icon {
  width: 34px;
  text-align: center;
}

}
footer .contact a {
  color: white;
}

footer .contact {
  font-size: 18px;
  line-height: 20px;
}

footer .social {
  list-style: none;
  margin: 10px 0 0;
}

footer .social li {
    float: left;
    margin: 0 20px 20px 0;
  }

footer .social li:last-child {
  margin-right: 0;
}

footer .social li .rounded {
    height: 50px;
    width: 50px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #CCC;
    color: #282828;
  }

footer .social li .rounded span {
    font-size: 30px;
    position: relative;
  }
footer .social li .rounded.facebook span {
    top: 10px;
    left: 18px;
  }
footer .social li .rounded.twitter span {
    top: 10px;
    left: 10px;
  }
footer .social li .rounded.github span {
    top: 10px;
    left: 12px;
  }
footer .social li .rounded.slideshare span {
    top: 10px;
    left: 12px;
  }
footer .social li .rounded.facebook:hover {
    background-color: #3B5998;
    color: white;
  }
footer .social li .rounded.twitter:hover {
    background-color: #4099FF;
    color: white;
  }
footer .social li .rounded.github:hover {
    background-color: #FAFAFA;
    color: black;
  }
footer .social li .rounded.slideshare:hover {
    background-color: #FAFAFA;
    color: black;
  }
footer .social li a:hover {
    text-decoration: none;
  }

@media (max-width: 979px) {
  img#logo {
    margin-top: 0;
  }
}

@media (min-width: 768px) {

  body.home ul.thumbnails a.thumbnail:hover {
    margin: 0;
  }

}

@media (min-width: 1200px) {

  #title p.subs {
    font-size: 60px;
  }

  #subtitle p.subs {
    font-size: 34px;
  }

}

@media (max-width: 767px) {

  body {
    padding-left: 0;
    padding-right: 0;
  }

  body.home ul.thumbnails a.thumbnail {
    margin: 10px;
  }

  .portfolio h1 {
    margin-left: 10px;
  }

  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding-bottom: 20px;
  }

  .navbar-fixed-top {
    margin: 0;
  }

  .snav {
    position: static;
    float: left;
    padding-top: 20px;
  }

  .snav.nav-left {
    margin-left: 0;
    width: 100%;
  }
  .snav.nav-right {
    margin-left: 0;
    width: 100%;
  }

  .snav ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .snav ul li {
    padding-left: 0;
    width: 50%;
  }

  body.home .bg {
    top: 155px;
    height: 351px;
    min-height: 351px;
  }

  #title {
    top: 20%;
  }

  #title p.subs {
    font-size: 40px;
  }

  #subtitle p.subs {
    font-size: 22px;
  }

  #title, #subtitle {
    margin: 0 10px;
  }

  section.content {
    margin-left: 10px;
    margin-right: 10px;
  }

  footer .pull-right {
    float:left;
  }

  footer .pull-right ul {
    margin-left: 5px;
  }

  footer .pull-right .cursive {
    text-align: left;
    margin-left: 30px;
  }

  footer .span6 {
    width:310px;
    margin:0 auto;
  }

  .cubes {
    display: none;
  }

  body.blog .trenches .span4 {
    display: none;
  }

  body.blog .trenches .span8 .cursive {
    text-align: center;
  }

  .cursive {
    font-size: 60px;
    line-height: 60px;
  }

  .blog .date {
    float: left;
    margin-right: 10px;
  }

  article.row {
    margin-left: 10px;
    margin-right: 10px;
  }

  article .span6 {
    padding-left: 0;
    border-left: 0;
  }

}
