body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  background-color: #fafafa;
  font-size: 16px; }

a {
  color: #177491;
  font-weight: 400; }
  a:hover, a:visited {
    color: #177491;
    font-weight: 400; }

.cursive {
  font-family: "bickham-script-pro", sans-serif;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  margin-top: 20px; }
  .cursive .cubes {
    font-size: 30px; }

.trenches, section.portfolio {
  background-color: #f3f3f3;
  padding: 20px 0; }

.tags {
  font-size: 85%;
  font-style: italic; }

body.home .sidebar .inner {
  border-left: 2px solid #f3f3f3;
  padding-left: 20px;
  padding-bottom: 20px; }
  body.home .sidebar .inner .cursive {
    font-size: 50px;
    line-height: 40px; }
    body.home .sidebar .inner .cursive .cubes {
      display: block;
      padding: 20px 0 10px 0; }
  body.home .sidebar .inner .links a {
    color: black;
    line-height: 24px; }
    body.home .sidebar .inner .links a:hover {
      color: black;
      text-decoration: underline; }
body.home .trenches .date {
  width: 100px; }
body.home .trenches .dot {
  padding-right: 10px; }
body.home ul.logos {
  text-align: center;
  margin-bottom: 20px; }
  body.home ul.logos li {
    margin-left: 20px;
    margin-top: 20px; }
    body.home ul.logos li:first-child {
      margin-left: 0; }
body.home ul.thumbnails {
  margin-left: 0; }
  body.home ul.thumbnails a.thumbnail {
    margin: 5px;
    background-color: #dddddd; }
    body.home ul.thumbnails a.thumbnail:hover, body.home ul.thumbnails a.thumbnail:focus {
      border-color: #dddddd;
      text-decoration: none; }
  body.home ul.thumbnails h3 {
    font-size: 18px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    margin: 5px 0 0 0; }
    body.home ul.thumbnails h3:hover {
      font-size: 18px;
      line-height: 20px;
      color: #333333;
      text-decoration: none;
      margin: 5px 0 0 0; }
  body.home ul.thumbnails p {
    color: #333333;
    text-decoration: none;
    margin: 0;
    font-weight: 300; }
    body.home ul.thumbnails p:hover {
      color: #333333;
      text-decoration: none;
      margin: 0;
      font-weight: 300; }
body.blog .trenches {
  margin-bottom: 40px; }
  body.blog .trenches .span4 .cursive {
    text-align: right; }
  body.blog .trenches .span8 {
    margin-left: 0; }
    body.blog .trenches .span8 .cursive {
      text-align: left; }
body.contact .content, body.portfolio .content, body.vision .content {
  margin-top: 430px; }
  body.contact .content .container .row .addressblock p, body.portfolio .content .container .row .addressblock p, body.vision .content .container .row .addressblock p {
    text-align: right; }
body.contact .bg h1, body.portfolio .bg h1, body.vision .bg h1 {
  text-align: right;
  color: white;
  margin-top: 150px; }
body.portfolio .intro {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px; }
body.portfolio .thumbnails .portfolio_detail {
  margin-bottom: 30px; }
body.portfolio_detail section {
  padding: 20px 0; }
  body.portfolio_detail section.project_name {
    margin-top: 100px; }
  body.portfolio_detail section.project_description {
    background-color: #f3f3f3;
    padding: 40px 0 100px 0; }
  body.portfolio_detail section.realcontent .row {
    margin-bottom: 40px; }
  body.portfolio_detail section.realcontent strong.intro {
    margin: 10px 0;
    display: block; }
  body.portfolio_detail section.realcontent .timeframe {
    margin-bottom: 0; }
    body.portfolio_detail section.realcontent .timeframe span {
      font-style: italic; }
  body.portfolio_detail section.realcontent .tags {
    margin-bottom: 20px; }
    body.portfolio_detail section.realcontent .tags span {
      font-style: italic; }
  body.portfolio_detail section.realcontent img.intro {
    margin-top: -80px; }
  body.portfolio_detail section.realcontent a.featured {
    margin: 20px 0;
    display: block; }
  body.portfolio_detail section.realcontent a.navigation, body.portfolio_detail section.realcontent a.navigation:hover, body.portfolio_detail section.realcontent a.navigation:visited {
    color: #333333;
    text-decoration: none; }

h1 {
  font-weight: 200; }

body:not(.home) footer {
  margin-top: 20px; }

footer {
  width: 100%;
  background: none repeat scroll 0 0 #2e3133;
  color: white;
  font-weight: 300; }
  footer .cursive {
    font-family: "reklame-script", sans-serif;
    text-align: left;
    margin: 0;
    padding: 20px 0;
    font-size: 50px; }
  footer .pull-right .cursive {
    padding-top: 0px;
    margin-top: 35px;
    text-align: center; }
  footer a {
    color: white; }
    footer a:hover, footer a:visited {
      color: white; }

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none; }

.navbar-inner {
  background-color: #fafafa;
  background-image: none; }

.snav {
  position: absolute;
  top: 16px;
  left: 50%; }
  .snav.nav-left {
    margin-left: -400px; }
  .snav.nav-right {
    margin-left: 80px; }
  .snav ul.unstyled {
    margin: 0 0 10px 25px; }
  .snav ul li {
    float: left;
    padding-left: 50px; }
    .snav ul li.current a {
      text-decoration: underline; }
    .snav ul li a {
      color: black;
      font-weight: 200;
      font-size: 20px;
      line-height: 20px; }
      .snav ul li a:visited {
        color: black;
        font-weight: 200;
        font-size: 20px;
        line-height: 20px; }

.snavbar-fixed-top .snavbar-inner, .snavbar-static-top .snavbar-inner {
  box-shadow: none; }

.snavbar-inner {
  background-color: rgba(250, 250, 250, 0.9);
  background-image: none; }

.logo {
  text-align: center; }

img#logo {
  height: 40px;
  margin: 5px; }

.bg {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-image: url("/img/san-francisco-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 390px; }

#intro .span12.targetresize {
  position: relative; }

#title {
  position: absolute;
  top: 30%;
  padding: 0;
  margin: 0; }
  #title p.subs {
    margin: 0;
    padding: 0;
    display: inline;
    font-family: "proxima-nova", sans-serif;
    font-weight: 200;
    font-style: normal;
    box-shadow: 6px 0 0 0 rgba(23, 116, 145, 0.6), -6px 0 0 0 rgba(23, 116, 145, 0.6);
    white-space: pre-line;
    color: white;
    background: rgba(23, 116, 145, 0.6);
    font-size: 50px;
    line-height: normal; }

#subtitle {
  position: absolute;
  top: 60%;
  padding: 0;
  margin: 0; }
  #subtitle p.subs {
    margin: 0;
    padding: 0;
    display: inline;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    font-style: normal;
    box-shadow: 6px 0 0 0 rgba(255, 154, 0, 0.6), -6px 0 0 0 rgba(255, 154, 0, 0.6);
    white-space: pre-line;
    color: white;
    background: rgba(255, 154, 0, 0.6);
    font-size: 28px;
    line-height: normal; }

#title, #subtitle {
  margin-right: 20px; }

.address p {
  color: white;
  background-color: rgba(74, 74, 74, 0.8);
  padding: 10px 5px 10px 5px;
  font-weight: 300; }
.address h1 {
  position: absolute;
  top: 80px; }

#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 308px; }

.blog .date {
  color: white;
  background-color: #177491;
  padding: 7px;
  font-size: 20px;
  text-align: center;
  width: 60px;
  height: 60px;
  float: right; }
  .blog .date .month {
    font-weight: bold;
    text-transform: uppercase; }

article .contentblock {
  border-left: 1px solid #177491;
  margin-left: 0;
  padding-left: 20px; }
  article .contentblock p:last-child {
    margin-bottom: 0; }
  article .contentblock a.more {
    font-weight: bold;
    text-decoration: underline; }
article .title {
  margin-top: 0;
  line-height: 26px; }
  article .title a, article .title a:hover, article .title a:visited, article .title a:focus {
    color: black; }
article img {
  padding: 10px 0;
  margin: 0 auto; }

.separator {
  padding: 10px 0 10px 0; }

.latest_news {
  padding: 20px; }
  .latest_news h3 {
    font-size: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    font-style: italic; }

footer .contact {
  margin: 0;
  font-size: 18px;
  line-height: 20px; }
  footer .contact li {
    margin: 15px 20px 15px 0; }
    footer .contact li .icon {
      width: 34px;
      text-align: center; }
  footer .contact a {
    color: white; }
footer .social {
  list-style: none;
  margin: 10px 0 0; }
  footer .social li {
    float: left;
    margin: 0 20px 20px 0; }
    footer .social li:last-child {
      margin-right: 0; }
    footer .social li .rounded {
      height: 50px;
      width: 50px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background-color: #cccccc;
      color: #282828;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
      footer .social li .rounded span {
        font-size: 30px;
        position: relative; }
      footer .social li .rounded.facebook span {
        top: 10px;
        left: 18px; }
      footer .social li .rounded.twitter span {
        top: 10px;
        left: 10px; }
      footer .social li .rounded.github span, footer .social li .rounded.slideshare span {
        top: 10px;
        left: 12px; }
      footer .social li .rounded.facebook:hover {
        background-color: #3b5998;
        color: white; }
      footer .social li .rounded.twitter:hover {
        background-color: #4099ff;
        color: white; }
      footer .social li .rounded.github:hover, footer .social li .rounded.slideshare:hover {
        background-color: #fafafa;
        color: black; }
    footer .social li a:hover {
      text-decoration: none; }

.iframe-rwd {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media (max-width: 979px) and (min-width: 768px) {
  body.home ul.thumbnails h3 {
    font-size: 14px;
    line-height: 16px; } }
@media (max-width: 979px) {
  img#logo {
    margin-top: 0; }

  .portfolio_detail h1 {
    font-size: 24px;
    line-height: 26px; } }
@media (min-width: 768px) {
  body.home ul.thumbnails a.thumbnail {
    transform: scale(1); }
    body.home ul.thumbnails a.thumbnail:hover {
      transform: scale(1.1); }

  body .thumbnails .portfolio_detail a.thumbnail {
    transform: scale(1); }
    body .thumbnails .portfolio_detail a.thumbnail:hover {
      transform: scale(1.08); } }
@media (min-width: 1200px) {
  #title p.subs {
    font-size: 60px; }

  #subtitle p.subs {
    font-size: 34px; } }
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0; }
    body.home ul.logos li {
      width: 100%;
      margin-left: 0; }
      body.home ul.logos li:last-child img {
        border-bottom: 1px solid black;
        padding: 0 20px 40px 20px;
        margin-bottom: 20px; }
    body.home ul.thumbnails a.thumbnail {
      margin: 10px;
      text-align: center; }
    body.home .sidebar .inner {
      border-left: 0; }
    body.contact .bg h1, body.portfolio .bg h1, body.portfolio_detail .bg h1, body.vision .bg h1 {
      text-align: left; }
    body.contact .content {
      margin-top: 350px; }
      body.contact .content .container .row .addressblock p {
        margin: 20px 0;
        text-align: center; }
    body.portfolio_detail section.project_name {
      margin-top: 10px; }
    body.portfolio_detail section.project_description {
      padding: 40px 10px;
      margin-left: 0;
      margin-right: 0; }
    body.portfolio_detail section.realcontent img {
      margin: 0 !important;
      padding: 0; }
    body.portfolio_detail section.realcontent a.navigation {
      margin: 20px 20px 20px 0; }

  .logo a {
    margin-left: 0; }

  .portfolio h1 {
    margin-left: 10px; }

  .portfolio_detail {
    text-align: center; }

  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding-bottom: 20px; }

  .navbar-fixed-top {
    margin: 0; }

  .snav {
    position: static;
    float: left;
    padding-top: 20px; }
    .snav.nav-left, .snav.nav-right {
      margin-left: 0;
      width: 100%; }
    .snav ul {
      padding: 0;
      margin: 0;
      text-align: center; }
      .snav ul li {
        padding-left: 0;
        width: 50%; }

  body.home .bg, body.contact .bg, body.portfolio .bg, body.portfolio_detail .bg, body.vision .bg {
    top: 155px;
    height: 351px;
    min-height: 351px; }

  #title {
    top: 20%; }
    #title p.subs {
      font-size: 40px; }

  #subtitle p.subs {
    font-size: 22px; }

  #title, #subtitle {
    margin: 0 10px; }

  section.content {
    margin-left: 10px;
    margin-right: 10px; }

  footer .pull-right {
    float: left; }
    footer .pull-right ul {
      margin-left: 5px; }
    footer .pull-right .cursive {
      text-align: left;
      margin-left: 30px; }
  footer .span6 {
    width: 310px;
    margin: 0 auto; }

  .cubes {
    display: none; }

  .cursive {
    font-size: 60px;
    line-height: 60px; }

  .blog .date {
    float: left;
    margin-right: 10px; }

  article.row {
    margin-left: 10px;
    margin-right: 10px; }
  article .contentblock {
    padding-left: 0;
    border-left: 0; }

  ul.inline > li {
    padding-left: 0;
    padding-right: 0; } }
