/*.snavbar {
  color: rgba(250, 250, 250, 0.9);
}*/

@font-face {
  font-family: 'fontawesome';
  src:url('fonts/fontawesome.eot');
  src:url('fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
    url('fonts/fontawesome.woff') format('woff'),
    url('fonts/fontawesome.ttf') format('truetype'),
    url('fonts/fontawesome.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'fontawesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icomoon-"] {
*/
.icomoon-facebook, .icomoon-twitter, .icomoon-github, .icomoon-map-marker, .icomoon-phone, .icomoon-envelope-alt {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icomoon-facebook:before {
  content: "\f09a";
}
.icomoon-twitter:before {
  content: "\f099";
}
.icomoon-github:before {
  content: "\f09b";
}
.icomoon-map-marker:before {
  content: "\f041";
}
.icomoon-phone:before {
  content: "\f095";
}
.icomoon-envelope-alt:before {
  content: "\f0e0";
}

body {
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Ubuntu', sans-serif;*/
  /*font-family: 'Varela Round', sans-serif;*/
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
}

.footer {
  /*background-color: #4c4c4c;*/
  width: 100%;
  /*color: rgb(250, 250, 250);*/
  background: none repeat scroll 0 0 #2E3133;
  /*color: #777E83;*/
  color: white;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none;
}

.navbar-inner {
  background-color: rgb(250, 250, 250);
  background-image: none;
}

.snav {
  position: absolute;
  top: 16px;
  left: 50%;
}

.snav.nav-left {
  margin-left: -400px;
}
.snav.nav-right {
  margin-left: 100px;
}

.snav ul {
  /*margin: 0 auto;*/

}
.snav ul, ul li {
  list-style: none;
}
.snav ul li {
  float: left;
  padding-left: 50px;
}
.snav ul li.current a {
  text-decoration: underline;
}

.snav ul li a, .snav ul li a:visited {
  color: black;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}

.snavbar-fixed-top .snavbar-inner, .snavbar-static-top .snavbar-inner {
  box-shadow: none;
}

.snavbar-inner {
  background-color: rgba(250, 250, 250, 0.9);
  background-image: none;
}

.logo {
  text-align: center;
}

img#logo {
  height: 40px;
  margin: 5px;
}

.bg {
  position: absolute;
  top:50px;
  left: 0;
  width: 100%;
  background-image: url("/img/san-francisco-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 390px;
}

#intro .container {
/*  position: relative;
  height: 100%;
*/}

#title {
  position: absolute;
  top: 40%;
  padding: 0;
  margin: 0;
}

#title p.subs {
  margin: 0;
  padding: 0;
  display: inline;
  font-family: "proxima-nova",sans-serif;
  font-weight: 700;
  font-style: normal;
  box-shadow: 6px 0 0 0 rgba(23, 116, 145, 0.6), -6px 0 0 0 rgba(23, 116, 145, 0.6);
  white-space: pre-line; /* Not understood by IE, use manual br for IE */
  color: white;
  background: rgba(23, 116, 145, 0.6);
  font-size: 46px;
  line-height: normal;
}


#subtitle {
  position: absolute;
  top: 60%;
  padding: 0;
  margin: 0;
}

#subtitle p.subs {
  margin: 0;
  padding: 0;
  display: inline;
  font-family: "proxima-nova",sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 6px 0 0 0 rgba(255, 154, 0, 0.6), -6px 0 0 0 rgba(255, 154, 0, 0.6);
  white-space: pre-line; /* Not understood by IE, use manual br for IE */
  color: white;
  background: rgba(255, 154, 0, 0.6);
  font-size: 25px;
  line-height: normal;
}

#title, #subtitle {
  margin-left: 20px;
  margin-right: 20px;
}

.address p {
  color: white;
  background-color: rgba(74, 74, 74, 0.8);
  padding: 10px 5px 10px 5px;
  font-weight: 300;
}

.address h1 {
  position: absolute;
  top: 80px;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 308px;
}

.date {
  color: white;
  background-color: rgb(23, 116, 145);
  padding: 7px;
  font-size: 20px;
  text-align: center;
  width:60px;
  height:60px;
  float:right;
}

.date .month {
  font-weight: bold;
}

.article .span6 {
  border-left: 1px solid rgb(23, 116, 145);
  margin-left: 0;
  padding-left: 30px;
}

.article .span6 p:last-child {
  margin-bottom: 0;
}

.article .title {
  margin-top: 0;
  line-height: 26px;
}

.separator {
  padding: 10px 0 10px 0;
}

.date {
  /*border-right: 1px solid rgb(23, 116, 145);  */
}

.latest_news {
  padding: 20px;
}

.latest_news h3 {
  font-size: 40px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.footer {
  margin-top: 20px;
}

.footer .contact li {
  margin: 15px 20px 15px 0;
}

.footer .contact a {
  color: white;
}

.footer .contact {
  font-size: 18px;
  line-height: 20px;
}

.footer .social {
    list-style: none;
    margin: 0;
  }

.footer .social li {
    float: left;
    margin: 20px 20px 20px 0;
  }

.footer .social li .rounded {
    height: 50px;
    width: 50px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #CCC;
    color: #282828;
  }

.footer .social li .rounded span {
    font-size: 30px;
    position: relative;
  }
.footer .social li .rounded.facebook span {
    top: 10px;
    left: 18px;
  }
.footer .social li .rounded.twitter span {
    top: 10px;
    left: 10px;
  }
.footer .social li .rounded.facebook:hover {
    background-color: #3B5998;
    color: white;
  }
.footer .social li .rounded.twitter:hover {
    background-color: #4099FF;
    color: white;
  }
.footer .social li a:hover {
    text-decoration: none;
  }

@media (max-width: 979px) {
  img#logo {
    margin-top: 0;
  }
}


@media (max-width: 767px) {

  body {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding-bottom: 20px;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }

  .snav {
    position: static;
    float: left;
    padding-top: 20px;
  }

  .snav.nav-left {
    margin-left: 0;
    width: 100%;
  }
  .snav.nav-right {
    margin-left: 0;
    width: 100%;
  }

  .snav ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .snav ul li {
    padding-left: 0;
    width: 50%;
  }

  body.home .bg {
    top: 155px;
    height: 400px;
  }

  #title {
    top: 30%;
  }

}
