---
layout: default
title: "We make web & mobile apps."
body_class: "home"
---
<section id="intro" class="bg targetresize">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 targetresize">
        <div id="title">
          <p class="subs"><span>We make web & mobile apps.</span></p>
        </div>

        <div id="subtitle">
          <p class="subs"><span>We are a small <strong>team</strong> of software engineers crafting innovative <strong>web</strong> & <strong>mobile</strong> applications since 2005.</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h1>What do we do?</h1>
        <p>
          We create websites, <strong>web applications</strong>, <strong>mobile web</strong> applications and native mobile applications. We can do it remotely in our office in Strasbourg, France, or we can do it on site, in your office.
        </p>
        <p>
          For <strong>7 years</strong>, we've been helping startups, web entrepreneurs, SMEs and communities by developing software for them and with them.
        </p>
        <p>
          Our speciality is to quickly transform your ideas or your specifications into a live web or mobile application, and iterate from this point, so you can maximise the ratio of money spent against informations learnt from your users or customers.
        </p>
        <h1>Why work with us?</h1>
        <p>
          We now have a long <strong>track record</strong> of successul projects.
        </p>
        <p>
          It isn’t just about developing software! Lots of people can write great code; Novelys offers more. When it comes to bridging the gap between an idea and a working project, we really know who to listen to - <strong>you</strong>!
        </p>
        <p>
          We are experts in our domains, and recognized as such. We’re committed to <strong>technology</strong>. It’s a long term relationship and we’re smitten. It’s not about throwing every slice of new tech at a project. There’s a delicate <strong>balance</strong> between beneficial new technology and stable, old-faithful components. Each project is different.
        </p>
        <p>
          We are <strong>passionate</strong> about the web. We love its plasticity, its constant organic evolution. We are always up-to-date, constantly watching new stuff, experimenting, separating the wheat from the chaff.
        </p>
        <p>
          We're <strong>Agile</strong>. Our quality process includes different agile methologies such as <strong>XP</strong>, <strong>Scrum</strong> or <strong>Kanban</strong>. Transparency is at the core of our company culture: we share our culture, our tools, our knowledge and our passion with our customers.
        </p>
        <p>
          We work a lot with startups. That means that we have the competences and mindset to live in the startup world. And we can bring this spirit into <strong>your</strong> company.
        </p>
        <h1>What are the technologies we use?</h1>
        <p>
          We use <strong>rapid</strong> prototyping technologies to quickly transform your ideas into a live application. Technologies such as <a href="http://www.ruby-lang.org" target="_blank">Ruby</a>, <a href="http://www.rubyonrails.org" target="_blank">Rails</a>, <a href="http://aws.amazon.com" target="_blank">Amazon Web Services</a>, <a href="http://www.heroku.com" target="_blank">Heroku</a>, <a href="http://www.mongodb.org" target="_blank">MongoDB</a> or <a href="http://www.redis.io" target="_blank">Redis</a>, Javascript (with <a href="http://backbonejs.org/" target="_blank">Backbone.js</a>, <a href="http://www.emberjs.com/" target="_blank">EmberJS</a> or <a href="http://nodejs.org" target="_blank">NodeJS</a>) are part of our standard toolbox. We then maintain these applications through the time. We work with some customers for years now!
          <ul class="list-inline logos">
            <li><img src="/img/logo/ruby.resized.png" alt="Ruby" title="Ruby" /></li>
            <li><img src="/img/logo/rubyonrails.resized.png" alt="Ruby on Rails" title="Ruby on Rails" /></li>
            <li><img src="/img/logo/amazonwebservices.resized.png" alt="Amazon Web Services" title="Amazon Web Services" /></li>
            <li><img src="/img/logo/heroku.resized.png" alt="Heroku" title="Heroku" /></li>
            <li><img src="/img/logo/mongodb.resized.png" alt="MongoDB" title="MongoDB" /></li>
            <li><img src="/img/logo/redis.resized.png" alt="Redis" title="Redis" /></li>
            <li><img src="/img/logo/backbone.resized.png" alt="BackboneJS" title="BackboneJS" /></li>
            <li><img src="/img/logo/emberjs.resized.png" alt="EmberJS" title="EmberJS" /></li>
            <li><img src="/img/logo/golang.resized.png" alt="Go" title="Go" /></li>
          </ul>
        </p>
      </div>
      <div class="col-xs-12 col-md-4 sidebar">
        <div class="inner">

          <h1 class="cursive">
            Latest news
            <br/>
            from the trenches
            <br/>
            <hr />
          </h1>
          <ul class="links">
            {% for post in site.categories.blog %}
              <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>A selection of our latest work</h1>
      </div>
    </div>
    <div class="row">
      <ul class="list-unstyled thumbnails">
        {% for post in site.categories.portfolio limit:8 %}
        <li class="col-xs-12 col-md-3">
          <a href="{{post.url}}" class="thumbnail">
            <img src="/img/home/{{post.project_slug}}.png" />
            <h3>{{post.project_name}}</h3>
            <p class="tags">{{post.tags | first }}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
