<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Novelys - {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Novelys - Ruby on Rails development - Strasbourg, France">
    <meta name="author" content="Novelys">

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
      }
    </style>
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="//use.typekit.net/fxz8psd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link href="/css/extra.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/img/favicon.ico" type='image/x-icon'>
  </head>

  <body class="{{page.body_class}}">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="logo">
            <a href="/"><img id="logo" src="/img/logo.png" alt="Novelys Logo"></a>
          </div>
          <div class="snav nav-left">
            <ul class="unstyled">
              <li><a href="/vision.html">Vision</a></li>
              <li><a href="/portfolio.html">Portfolio</a></li>
            </ul>
          </div>
          <div class="snav nav-right">
            <ul class="unstyled">
              <li><a href="/blog.html">Blog</a></li>
              <li><a href="/contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {{ content }}

    <footer>
      <div class="container">
        <div class="row">
          <div class="span6">
            <div class="pull-left">
              <ul class="unstyled contact">
                <li class="clearfix">
                  <div class="pull-left icon">&nbsp;</div>
                  <div class="pull-left"><div class="cursive">Contact us!</div></div>
                </li>
                <li class="clearfix">
                  <div class="pull-left icon"><span class="icon-envelope-alt"></span></div>
                  <div class="pull-left"><a href="mailto:contact@novelys.com">contact@novelys.com</a></div>
                </li>
                <li class="clearfix">
                  <div class="pull-left icon"><span class="icon-phone"></span></div>
                  <div class="pull-left">+33 (0)8 05 69 60 67</div>
                </li>
                <li class="clearfix">
                  <div class="pull-left icon"><span class="icon-map-marker"></span></div>
                  <div class="pull-left">
                      15, Route du Rhin
                      <br/>
                      67100 STRASBOURG, FRANCE
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="cursive">Follow us!</div>
              <ul class="unstyled inline social">
                <li>
                  <a target="_blank" href="https://www.facebook.com/novelys">
                    <div class="rounded facebook">
                      <span class="icon-facebook"></span>
                    </div>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://twitter.com/novelys">
                    <div class="rounded twitter">
                      <span class="icon-twitter"></span>
                    </div>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://github.com/novelys">
                    <div class="rounded github">
                      <span class="icon-github"></span>
                    </div>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="http://www.slideshare.net/novelys">
                    <div class="rounded slideshare">
                      <span class="icon-slideshare"></span>
                    </div>
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  function computeBackgroundHeight() {
    var height = $(window).height();
    height = height > 500 ? height : 500;
    $(".targetresize").css({height: height - 50 - 100});
    $(".content").css({marginTop: height - 50 - 100 + 10});
  }
  $(document).ready(function(event) {

    if ($("body").hasClass("home")) {
      computeBackgroundHeight();

      $(window).on("resize", function(){
        computeBackgroundHeight();
      });
    }

    $(".gotoNextParagraph").on("click", function(e){
      e.preventDefault();
      var next_paragraph = $(e.target).closest(".row").next(".row");
      $('html, body').animate({scrollTop:next_paragraph.offset().top-60}, 'slow');
    });

    $(".gotoPreviousParagraph").on("click", function(e){
      e.preventDefault();
      var previous_paragraph = $(e.target).closest(".row").prev(".row");
      $('html, body').animate({scrollTop:previous_paragraph.offset().top-60}, 'slow');
    });

  });
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8099417-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>
